.detail-specialty-container {
    .desciption-specialty {
        padding: 10px 150px;

        span.dt-name-specialty {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        h1,
        h2,
        h3 {
            font-size: 16px;
        }
    }
    .content-specialty {
        padding: 20px 150px;
        background-color: #eeeeee;
        .search-doctor-province {
            width: 130px;
            select {
                cursor: pointer;
                padding: 7px;
                width: 100%;
                border: 1px solid #dddbdb;
                outline: none;
                border-radius: 4px;
                option {
                    border: none !important;
                }
            }
        }
        .each-doctor {
            box-shadow: 0px 0px 3px 2px #dacfcf;

            margin-top: 20px;
            background-color: #ffffff;
            display: flex;
            min-height: 290px;
            // width: 100%
            .dt-content-left {
                .more-info-po {
                    margin-top: 15px;
                    margin-left: 32px;
                    a {
                        color: #4bc3d2;
                        text-decoration: none;
                    }
                }
                padding-top: 30px;
                height: 100px;
                width: 50%;
                .right-Content {
                    width: 60%;
                    padding-top: 10px;
                    .up {
                        font-weight: 550;
                        font-size: 18px;
                        color: #4bc3d2;
                    }
                }
            }
            .dt-content-right {
                padding: 20px;
                width: 45%;
                .empty-calendar {
                    width: 100%;
                }
            }
        }
    }
}
