.bookinh-content-container {
    padding: 10px 55px 40px 55px;
    .info-doctor {
        height: 100px;
    }
    .price {
        height: 100px;

        margin-bottom: 20px;
    }
}
.btn-modal-booking-cancel {
    width: 68px;
    height: 34px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-modal-booking-save {
    width: 68px;
    height: 34px;
    // margin-left: 20px;
    // margin-right: 20px;
}
