.doctor-detail-container {


    .intro-doctor {
        border-top: 1px solid #ddd;
        height    : 300px;
        display   : flex;
        padding   : 10px 200px;

        .right-Content {
            width : 80%;
            height: 80px;

            .up {
                font-weight: 600;
                font-size  : 20px;
            }
        }

        .left-Content {
            width              : 20%;
            height             : 80px;
            background-position: center;
            background-size    : cover;
            background-repeat  : no-repeat;
            border-radius      : 50%;
            width              : 120px;
            height             : 120px;
            border             : none;
            margin             : 10px 20px;


        }
    }

    .schedule-doctor {}



    .detail-infor-doctor {
        background: #f9f9f9;
        border-top: 1px solid #ddd;
        padding   : 10px 200px;
    }

    .comment-doctor {

        height: 300px;
    }
}