.verify-emai-container {
    text-align: center;
    margin-top: 90px;
    .info-booking {
        color: red;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
