.section-share {
    &.section-specialty {
        background: #f5f5f5;

    }

    &.section-outstanding-doctor {
        background-color: #f5f5f5;
    }


    &.section-about {

        height: 450px;
        margin: 0 120px;


    }



    .section-body {
        .section-customize {
            text-align: center;

            .bg-image {

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #eee;
                height: 150px;
                width: 278px;

                &.section-specialty {
                    background-image: url("../../assets//images/specialty/a.jpg");
                }

                &.section-medical {
                    background-image: url("../../assets//images/factory/152704logo-bvcr-moi.jpg");
                    width: 130px;
                    height: 130px;
                    margin: auto;
                }

                &.section-outstanding-doctor {
                    background-image: url("../../assets//images/outstanding/135013-bs-nguyen-hoang-son.jpg");
                    width: 120px;
                    height: 120px;
                    border-radius: 50% !important;

                }

                &.section-handlebook {
                    background-image: url('../../assets/images/Handbook/155626-kham-noi-than-kinh-ha-noi.png');
                }

            }

        }
    }

}


.section-share {
    height: 330px;

    .section-container {
        height: 300px;
        margin: 0 160px;

        .section-header {
            height: 24%;
            padding: 15px 0;
            position: relative;

            span {
                font-size: 20px;
                font-weight: 600;
            }

            .btn-header-spe {
                border: none;
                text-transform: uppercase;
                right: 25px;
                position: absolute;
                background-color: #e8e3e3;
                font-size: 16px;
                padding: 5px;

                &:hover {
                    background-color: orange;
                    color: white;
                    outline: none;
                }
            }
        }

        .slick-next {
            right: -5px;
            width: 44px;
            height: 48px;
            background-color: white;
            border-radius: 15%;
            border: 1px solid #49bce2;
            z-index: 1;
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }

        .slick-prev {
            left: -20px;
            width: 44px;
            height: 48px;
            background-color: white;
            border-radius: 15%;
            border: 1px solid #49bce2;
            color: red !important;
            z-index: 1;
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }

        .slick-prev:before {
            font-family: FontAwesome !important;
            color: black !important;

        }

        .slick-next:before {
            font-family: FontAwesome !important;
            color: black !important;

        }

    }


}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

    }

    .section-customize {
        padding: 5px 0;
        padding-left: 6px;
        padding-right: 20px;

        .customize-border {
            border: 1px solid orange;
            border-radius: 10px;
        }


    }
}

.section-footer {
    height: 40px;

    padding: 6px;
    text-align: center;
    background-color: #64b9e5;

}

.section-about {
    .section-about-header {
        padding-top: 15px;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 600;
        font-size: 22px;

    }

    .section-about-content {
        .content-left {
            iframe {
                border-radius: 13px;
            }
        }
    }
}